[submodule "Submodules/facebook-ios-sdk"]
	path = Submodules/facebook-ios-sdk
	url = https://github.com/facebook/facebook-ios-sdk.git
[submodule "Submodules/Reachability"]
	path = Submodules/Reachability
	url = https://github.com/tonymillion/Reachability.git
